/* ----------------------
    Landing Page
                          
  ======================
    Global Styles
  =======================*/
body{

    font-family: 'Archivo Black', sans-serif;
    color:whitesmoke ;
    text-shadow:4px 4px 4px #2B3036;
    margin: 0 auto;
}


/* =========================
    Banner
    ========================*/
.zone{
    background: linear-gradient(to top, #2A2B2A 0%, #fe5f50 100%);
}


.banner{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.banner .head{
    text-align: center;
    justify-self: center;
}

.head h1{
    font-size: 3.5rem;
}

.social_media{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, auto));
}

.banner .social_media .linked-image{
    align-self: center;
    justify-self: center;
    width: 50%;
    color: white;
    text-decoration: none;
}

.linked-image img{
    width: 100%;
}

.linked-image:focus{
    outline: none;
}


.linked-image img:hover, .linked-image:focus{
    align-self: center;
    transition:all 0.1s;
    padding-bottom: auto;
    border-bottom: 3px solid whitesmoke;
}


/* =========================
    Middle Menu
    ========================*/
.middle{
    background: #2A2B2A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.menu {
    display: flex;
    justify-content: center;
    width: 60vw;
    height: 50vh;
    border: 2px solid aliceblue;
    border-radius: 50px;
    text-align: center;
}


.menu h2{
    font-weight: bolder ;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}


.btn-primary{
    font-size: 1.5em;
    width: 70%;
    margin: auto;
    color:whitesmoke ;
    background: linear-gradient(to left, #fe5f50 0%,#2A2B2A 100%) ;
    border: 2px solid #2A2B2A;
    text-shadow:4px 4px 4px #2B3036;
    text-decoration: none;
    border-radius: 100px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    border: 2px solid #454955;
}

.btn:focus, .btn-primary:active, .btn-primary:active:focus{
    box-shadow: 0 0 0 0.25rem #454955;
}

.link-button {
    outline: none;
}


/* =========================
    Footer
    ========================*/

footer {
    border:1px solid #2A2B2A ;
    background: linear-gradient(to bottom, #2A2B2A 0%, #fe5f50 100%);
    display: block;
    align-items: center;
}

footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/*---------------------------------------------------*/